.landing-wrapper {
  @apply lg:mt-6 relative;
  .landing-container {
    @apply container mx-auto lg:px-0 px-4 flex;

    & > div {
      @apply lg:w-2/4 w-full text-center lg:text-left;
    }

    .left-container {
      @apply flex flex-col;

      .mobile-image {
        @apply lg:hidden flex items-center  h-3/5;
        img {
          @apply w-full z-10 h-3/5;
        }
      }

      p:first-child {
        @apply lg:text-7xl lg:mt-12 text-4xl mt-4;
        font-weight: 300;

        span {
          color: #00a09d;
          font-weight: 600;
        }
      }

      p:not(:first-child) {
        font-weight: 400;
        @apply w-full lg:w-4/5 text-gray-600 dark:text-gray-300 lg:mt-8 my-4 lg:text-lg text-sm;
      }

      .buttons-div {
        color: #fff;
        @apply flex mt-10 w-full lg:w-4/5 lg:justify-between justify-around text-xl flex-wrap;
        button {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &:focus {
            outline: none;
          }
        }
        button.contact {
          background-color: #00a09d;
          font-weight: 500;
          @apply lg:p-4 md:h-16 h-14 lg:h-auto  px-6 lg:my-auto my-4 rounded-lg tracking-wider;
        }
        div.resume {
          background-color: rgb(11, 45, 78);
          font-weight: 500;
          @apply lg:p-4 md:h-16 h-14 lg:h-auto px-6 lg:my-auto my-4 rounded-lg tracking-wider flex items-center;
        }
      }
    }
    .right-container {
      @apply hidden lg:flex items-center;
      height: calc(100vh - 6.45rem);
      img {
        @apply w-full z-10;
        height: inherit;
      }
    }
  }
  .wave-div {
    img {
      margin-top: -6%;
    }
  }
}
