.about-wrapper {
  .about {
    margin-top: -6%;
    @apply container  lg:mx-auto lg:px-0 px-5 flex;

    & > div {
      @apply lg:w-1/2 w-full lg:text-left text-center;
    }

    .left-div {
      @apply hidden lg:flex;
      .image-wrapper {
        @apply hidden lg:flex justify-center items-center h-5/6;
        img {
          height: inherit;
          -webkit-box-shadow: 21px 21px 0px 0px#01adc3;
          -moz-box-shadow: 21px 21px 0px 0px #01adc3;
          box-shadow: 21px 21px 0px 0px #01adc3;
          @apply border-2 border-black rounded;
        }
      }
    }
    .right-div {
      h1 {
        @apply lg:text-7xl text-center lg:mt-10 text-5xl my-8;
        font-weight: 400;
        span {
          color: #00a09d;
          font-weight: 600;
        }
      }
      .mobile-image-wrapper {
        @apply flex justify-center items-center h-56 lg:hidden;
        img {
          height: inherit;
          -webkit-box-shadow: 8px 8px 0px 0px#01adc3;
          -moz-box-shadow: 8px 8px 0px 0px #01adc3;
          box-shadow: 8px 8px 0px 0px #01adc3;
          @apply border-2 border-black rounded;
        }
      }
      p {
        @apply text-gray-700 dark:text-gray-400 lg:mt-12 my-8 lg:text-xl text-sm lg:text-left text-justify lg:tracking-widest lg:leading-10;
      }
    }
  }
}
