.projects-wrapper {
  .projects {
    @apply container lg:mx-auto lg:p-0 px-4;

    & > h1 {
      @apply lg:text-6xl lg:mt-12 pt-6 lg:pt-0 text-3xl lg:text-left text-center;
      font-weight: 400;
      span {
        color: #00a09d;
        font-weight: 600;
      }
    }
    .projects-cards {
      @apply flex justify-between mt-10 flex-wrap;
      .card {
        background: rgba(1, 200, 199, 0.3);
        @apply flex text-center rounded-lg m-2 lg:w-80 cursor-pointer justify-center;
        & > div {
          @apply flex flex-col justify-around p-4;
          & > * {
            @apply my-1;
          }

          h1 {
            font-weight: 600;
            @apply tracking-widest text-2xl text-blue-900 dark:text-blue-600;
          }
        }
      }
    }
    .all-projects {
      @apply lg:mt-12 flex justify-center my-4;
      button {
        background-color: rgb(11, 45, 78);
        font-weight: 500;
        @apply text-white lg:px-8 lg:py-4 py-2 rounded-lg lg:tracking-widest text-xl flex items-center lg:w-auto w-full justify-center;
      }
    }
  }
}
