.footer {
  @apply text-center py-12 mt-12 bg-green-200 dark:bg-green-900;
  p:first-child {
    @apply tracking-widest lg:block hidden;
    span {
      @apply text-blue-900 dark:text-blue-500;
      font-weight: 600;
    }
  }
  p:last-child {
    @apply tracking-widest text-center lg:hidden block;
    span {
      @apply text-blue-900 dark:text-blue-500;
      font-weight: 600;
    }
  }
}
