@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Poppins", sans-serif;
  color: #1b1c1d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply h-full bg-pattern overflow-x-hidden;
}
